list-selector.horizontal {
    position: relative;
    display: block;
    width: 100%; 
    overflow: hidden;
    height: 100px;
}

list-selector .lcenterbox {
    position: relative;
    height: 100px;
    margin: 0 20px;
    overflow: hidden;
}

list-selector .lwrapper {
    display: block;
    position: absolute;
    height: 100%;
    margin: 0 0px;
}
list-selector list-selector-item {
    float: left;
    overflow: hidden;
    width: 65px;
    display: block;
}
list-selector list-selector-item > *{
    width: 100%;
    height: 100%;
}
list-selector .forward, list-selector .back {
    position: relative;
    height: 100%;
    font-size: 22px;
    float: left;
}
list-selector .forward {
    float: right;
}
list-selector .lwrapper > *.selected {
    color: #2EA6E6;
    border-bottom: 4px solid #2EA6E6;
}
list-selector .icon.back:before {
    content: "\e601";
}
list-selector .icon.forward:before {
    content: "\e602";
}
list-selector .disabled {
    color: #ccc;
}

